# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
venv/
educ/
env/
*.egg-info/
dist/
build/

# Database
*.sqlite3

# Node / Vite
frontend/node_modules/
frontend/dist/
frontend/.vite/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Backup files
*.bak